body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #555; 
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  text-align: center;
}

nav a {
  color: #6200ff; 
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #af4c91;
  color: #fff;
}

section {
  margin: 20px;
  max-width: 400px;
  margin: 0 auto;
}

section h2 {
  color: #ff8c00; 
  text-align: center;
  margin-bottom: 20px;
}

form {
  border: 2px solid #dddddd;
  padding: 20px;
  border-radius: 8px;
  transition: border-color 0.3s;
  animation: borderAnimation 1s infinite alternate; 
}

@keyframes borderAnimation {
  from {
      border-color: #ddd;
  }
  to {
      border-color: #4CAF50;
  }
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: #4CAF50;
}

button {
  background-color: #4CAF50; 
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #45a049; 
  color: #fff;
  transform: scale(1.02); 
}

p {
  text-align: auto;
  margin-top: 20px;
}

a {
  color: #4CAF50; 
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #45a049;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left,
.footer-right {
  flex: 1;
}

.footer-left h3,
.footer-right h3 {
  color: #fff;
}

.footer-left p {
  margin-bottom: 10px;
}

.footer-right ul {
  list-style: none;
  padding: 0;
}

.footer-right li {
  margin-bottom: 5px;
}

.footer-right a {
  color: #fff;
  text-decoration: none;
}

.footer-right a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  padding: 0;
}

.bottom-details {
  background-color: #333;
  /* position: fixed; */
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px; 
  text-align: center;
}

.copyright_text {
  font-size: 20px; 
  position: center;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px; 
  text-align: center;
  background-color: #3333; 
}
.policy_terms a {
  margin: 0 10px; 
  text-decoration: none;
  color: #333; 
}

.policy_terms a:hover {
  text-decoration: underline;
}

@media (max-height: 600px) {
  .bottom-details {
    position: static;
  }
}
















